@{
	Layout = "PageLayout";
}
<section id="contact" class="p_3">

	<div class="row contact_1 mt-4">
		<div class="col-12 col-md-4">
			<div class="contact_1i shadow_box p-5 px-4">
				<div class="contact_1i1 row">
					<div class="col-md-9">
						<div class="contact_1i1l">
							<h4 class="mb-3">About</h4>
							<p class="mb-0">
								Hotline: <a href="tel:02435141791">024.35141791</a><br>
								Zalo: <a href="https://oa.zalo.me/ttcpqg" target="_blank">https://oa.zalo.me/ttcpqg</a><br>
								Giờ làm việc: 8:00 - 22:00<br>
								Tất cả các ngày bao gồm cả Lễ tết
							</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="contact_1i1r">
							<span class="font_50 col_oran"><i class="fa fa-user-plus"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="contact_1i shadow_box p-5 px-4">
				<div class="contact_1i1 row">
					<div class="col-md-9">
						<div class="contact_1i1l">
							<h4 class="mb-3">Address</h4>
							<p class="mb-0">Số 87 Láng Hạ, Phường Thành Công, Quận Ba Đình, Tp.Hà Nội</p>
						</div>
					</div>
					<div class="col-md-3">
						<div class="contact_1i1r">
							<span class="font_50 col_oran"><i class="fa fa-map"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="contact_1i shadow_box p-5 px-4">
				<div class="contact_1i1 row">
					<div class="col-md-9">
						<div class="contact_1i1l">
							<h4 class="mb-3">Contact</h4>
							<h6><a href="tel:02435148647">Hotline: 024.35148647</a></h6>
							<h6><a href="mailto:Bocry@gmail.com">Bocry@gmail.com</a></h6>
							<h6 class="mb-0"><a href="mailto:Manhsmile@gmail.com">Manhsmile@gmail.com</a></h6>
						</div>
					</div>
					<div class="col-md-3">
						<div class="contact_1i1r">
							<span class="font_50 col_oran"><i class="fa fa-envelope"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row contact_2 mt-4">
		<div class="col-md-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7448.791568337728!2d105.81562600000001!3d21.016844!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9ef82fed13%3A0x1ee04aa292e377a2!2zVHJ1bmcgdMOibSBDaGnhur91IHBoaW0gUXXhu5FjIGdpYQ!5e0!3m2!1svi!2sus!4v1692808097330!5m2!1svi!2sus"
			height="460" style="border:0; width:100%;" allowfullscreen=""></iframe>
		</div>
	</div>
</section>
