@{
    Layout = "MoviesLayout";
}

<form asp-controller="Users" asp-action="ForgotPassword" method="post">
    <section class="p_3">
        <div class="container-xl">
            <div class="row login_1">
                <div class="col-md-12">
                    <div class="login_1m p-5 px-4 bg-light w-50 mx-auto">
                        <h4 class="mb-4 fw-bold text-center">Forgot Password</h4>
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-info">@ViewBag.Message</div>
                        }

                        <label class="fw-bold mb-2">Enter your registered email:</label>
                        <input class="form-control" type="email" name="email" required placeholder="example@email.com" />

                        <div class="mt-4 text-center">
                            <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
