@{
    Layout = "MoviesLayout";
}

<form asp-controller="Users" asp-action="ResetPassword" method="post">
    <section class="p_3">
        <div class="container-xl">
            <div class="row login_1">
                <div class="col-md-12">
                    <div class="login_1m p-5 px-4 bg-light w-50 mx-auto">
                        <h4 class="mb-4 fw-bold text-center">Reset Password</h4>
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-info">@ViewBag.Message</div>
                        }

                        <input type="hidden" name="email" value="@ViewBag.Email" />
                        <label class="fw-bold mb-2">New Password:</label>
                        <div class="input-group">
                            <input class="form-control" type="password" name="newPassword" id="newPassword" required />
                            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">
                                👁
                            </button>
                        </div>


                        <div class="mt-4 text-center">
                            <button type="submit" class="btn btn-success w-100">Update Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<script>
    function togglePassword() {
        var passwordInput = document.getElementById("newPassword");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>
